body {
    font-family: Arial, sans-serif;
    margin: 2%;
}

h3 {
    margin: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 900px;
}

.top-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 50px;
    width: 100%;
    font-size: 25px;
    border-bottom: 4px solid #008cff;
}

.nav-links a {
    padding: 10px;
    text-decoration: none;
    color: #101010;
}
.nav-links a:hover {
    color: #008cff;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}
.column-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    min-width: 250px;
    width: 15%;  /* Adjust to 20-30% as needed */
    padding: 10px;
    border: 1px solid #ccc;
}

.column-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 85%;  /* Adjust to 70-80% as needed */
}

.control_box {
    overflow: auto;
    margin: auto;
    margin-top: 5px;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.output-files {
    min-height: 100px;
    margin: auto;
    width: 90%;
    font-size: 16px;
}
.output-file-list {
    overflow: auto;
    height: 200px;
    margin: auto;
    margin-top: 5px;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#settings {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ccc;
    padding:10px;
}

#selection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 10px;
}


#text-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}


#log-wrapper {
    width: 85%;
    padding: 20px;
}

#log-div {
    margin: 20px;
    width: 90%;
    height: 100px;
    overflow: auto;
    background-color: rgb(57, 57, 57);
    color: #c4c4c4;
    padding: 10px;
}

#project-id {
    width: 50%;
}

#file-list {
    list-style-type: none;
    padding: 0;
}

#file-list li {
    margin: 5px 0;
}

#file-list li a {
    text-decoration: none;
    color: rgb(58, 58, 58);
    cursor: pointer;
}

#file-list li a:hover {
    text-decoration: underline;
    color: #008cff; 
}

#readme-content {
    width: 85%;
}

#file-content {
    margin: 20px;
    width: 85%;
    min-width: 800px;
    max-width: 1000px;
    min-height: 500px;
    max-height: 1000px;
}

#csv-table_wrapper {
    flex: none;
    width: 85%
}

#csv-table {
    overflow: auto;
}

td {
    height: 20px;
    overflow: auto;
    max-width: 80px;
    white-space: nowrap;
}

button {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #000000;
    background-color: #ededed;
    border-radius: 5px;
    cursor: default;
}

button:hover {
    background-color: #a0d4ff;
    color: #000000;
}

input[type="text"] {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
    cursor: text;
}
