body {
    font-family: Arial, sans-serif;
    margin: 2%;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 600px;
}

.top-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 100px;
    width: 100%;
    font-size: 25px;
    border-bottom: 4px solid #008cff;
}

.nav-links a {
    padding: 10px;
    text-decoration: none;
    color: #101010;
}
.nav-links a:hover {
    color: #008cff;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}
.column-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    min-width: 250px;
    width: 15%;  /* Adjust to 20-30% as needed */
    padding: 10px;
    height: 650px;
    border: 1px solid #ccc;
}

.column-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 85%;  /* Adjust to 70-80% as needed */
    padding: 10px;
}
.output-files {
    min-height: 100px;
    margin: auto;
    width: 90%;
    font-size: 16px;
}
.output-file-list {
    overflow: auto;
    height: 200px;
    margin: auto;
    margin-top: 5px;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}


#log-wrapper {
    width: 100%;
}

#log-div {
    flex: none;
    width: 70%;
    height: 100px;
    overflow: auto;
    background-color: rgb(57, 57, 57);
    color: #c4c4c4;
    padding: 10px;
}

#project-id {
    width: 50%;
}

#file-list {
    list-style-type: none;
    padding: 0;
}

#file-list li {
    margin: 5px 0;
}

#file-list li a {
    text-decoration: none;
    color: rgb(58, 58, 58);
    cursor: pointer;
}

#file-list li a:hover {
    text-decoration: underline;
    color: #008cff; 
}

#readme-content {
    height: 500px;
    width: 90%;
}

#file-content {
    height: 500px;
    width: 80%;
}

#csv-table_wrapper {
    flex: none;
    display: flex;
    width: 80%;
    flex-direction: column;
    flex-wrap: nowrap;
}

#csv-table {
    width: 80%;
    overflow-y: auto;
}


td {
    height: 20px;
    overflow: auto;
    max-width: 80px;
    white-space: nowrap;
}
button {
    margin-top: 10px;
    padding: 5px 10px;
}

input[type="text"] {
    width: 50%;
    padding: 5px;
    margin-bottom: 10px;
}
