<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Editor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.7/fh-4.0.1/r-3.0.3/sc-2.4.3/sb-1.8.0/sp-2.3.2/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.7/fh-4.0.1/r-3.0.3/sc-2.4.3/sb-1.8.0/sp-2.3.2/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/2.1.7/features/scrollResize/dataTables.scrollResize.min.js"></script>
</head>
<body>
    <div class="container">
         <div class="top-row">  
            <div class="nav-links">
                <a href="#" id="toggle-readme">readme</a>  <!-- Toggle Link -->
                <a href="#" >github</a>  <!-- Toggle Link -->
            </div>
         </div>

        <!-- Left Column -->
        <div class="main">
            <div class="column-left">
                <br>
                 <b>1. Set Models</b>
                 <div class="control_box">
                    <div id="selection">
                        summarization:<br>
                        <select id="summary_model">
                            <option value="gpt-4o-mini">GPT-4o mini</option>
                            <option value="gpt-4o">GPT-4o</option>
                            <option value="o1-mini">o1-mini</option>
                            <option value="o1-preview">o1</option>
                         </select>
                    </div>
                     <br>
                    <div id="selection">
                        annotation: <br>
                        <select id="annotation_model">
                            <option value="gpt-4o-mini">GPT-4o mini</option>
                            <option value="gpt-4o">GPT-4o</option>
                            <option value="o1-mini">o1-mini</option>
                            <option value="o1-preview">o1</option>
                          </select>
                    </div>
                </div>
                <br>
                <b>2. Gather Metadata</b>
                <div class = 'control_box'>
                    <button id="gather-button">run:</button>
                    <input type="text" id="project_id" placeholder="Enter Project ID"\>
                </div>
                <br>
                <b>3. Annotate Experiments</b>
                <div class = 'control_box'>
                    <button id="annotate-button">Run All</button>
                </div>
                <br>
                <b>4. Reannotate project (optional)</b>
                <div class = 'control_box'>
                    <button id="run-project">Run:</button>                
                    <input type="text" id="test_project_id" placeholder="Enter Project ID"\>
                </div>
                <br>
                <div class="output-files">
                    <b>sragent_output</b>
                    <div class="output-file-list">
                        <ul id="file-list"> </ul>
                    </div>
                </div>
            </div>
      <!-- Right Column -->
            <div class="column-right">
                <div id="readme-content">
                    <h2>README</h2>
                    <p>
                       SRAgent is designed to assist with access and annotation of SRA metadata. <br>
                       All outputs are saved in a local directory called 'sragent_output'. <br><br>
                       1. Enter a valide BioProject ID and run 'get metadata' to download metadata files. <br> 
                          This will save a metadata.csv file. <br><br>
                       2. View the metadata.csv file by clicking on it in the file list. Metadata can then be filtered to specific rows. <br><br>
                       3. When you are happy with the metadata selected, set models for summarization and annotation and click `run all` <br>
                          This will save a summary.txt for each project and an annotation.csv file. <br> <br>
                        4. Best results will require review of the annotation and possibly manual correction of the project summaries. <br>
                          To make corrections to a project summary file click on the file link and make edits then save. <br><br>
                        5. After correcting the summary a specific project can be rerun by entering the project ID and clicking `run project`. <br>
                       
                    </p>
                </div>
                <!-- Textarea for text file editing -->
                <div id="text-wrapper" style="display:none">
                    <textarea id="file-content" style="display:none;"></textarea>
                    <button id="save-button" style="display:none;">Save</button>
                </div>
                <table id = "csv-table" class = "cell-border nowrap stripe hover" style="display:none"> 
                </table>    
                <div id="log-div" style="display:none">
                </div>
            </div>
        </div>  
    </div>

    <script>
        function appendLogMessage(message) {
            const logDiv = $('#log-div');
            logDiv.append(`<p>${message}</p>`);
            logDiv.scrollTop(logDiv[0].scrollHeight);  // Auto-scroll to bottom
        }
        $('#toggle-readme').click(function(e) {
            e.preventDefault();  // Prevent default link behavior
            // Toggle visibility between README and file content
            $('#readme-content').show();  
            $('#file-content').hide();
            $('#save-button').hide();
            $('#log-div').hide();
            $('#csv-table_wrapper').hide();
        });
        // Function to load the list of files
        function loadFiles() {
            $.getJSON('/files', function(files) {
                let fileList = $('#file-list');
                fileList.empty();  // Clear the list
                files.forEach(function(file) {
                    fileList.append(`<li><a href="#" onclick="loadFile('${file}')">${file}</a></li>`);
                });
            });
        }

        // Function to load a file's content
        function loadFile(filename) {
            let fileExtension = filename.split('.').pop().toLowerCase();
    
            // Load file content and determine how to display it based on file type
            $.get(`/file/${filename}`, function(data) {
                if (fileExtension === 'txt') {
                    // Show the text area for text files
                    $('#text-wrapper').show();
                    $('#file-content').show().val(data.content);
                    $('#csv-table_wrapper').hide();
                    $('#csv-table').hide();  // Hide the CSV table if it was displayed
                    $('#readme-content').hide();  // Hide the README if it was displayed
                    $('#save-button').show();  // Show save button for text files
                    $('#save-button').data('filename', filename);  // Save the filename for saving
                    $('#log-div').show();
                    let log = `> loaded ${filename}`;
                    appendLogMessage(log);

                } else if (fileExtension === 'csv') {
                    // Hide the text area and display a CSV table for CSV files
                    $('#text-wrapper').hide();
                    $('#file-content').hide();
                    $('#readme-content').hide();  // Hide the README if it was displayed
                    $('#csv-table_wrapper').show();
                    $('#log-div').show();
                                // Check if a DataTable is already initialized and destroy it before reinitializing
                    if ($.fn.DataTable.isDataTable('#csv-table')) {
                        $('#csv-table').DataTable().destroy();  // Destroy the old DataTable instance
                        $('#csv-table').empty();  // Clear the table content
                    }
                    $('#csv-table').show().dataTable({
                         data: data.content,
                        columns: data.columns,
                        columnDefs: [
                             { name: 'abstract', targets: data.columns.findIndex(col => col.title === 'abstract'), visible: false , searchable: false},  // Hide 'abstract'
                             { name: 'protocol', targets: data.columns.findIndex(col => col.title === 'protocol'), visible: false , searchable: false},   // Hide 'protocol'
                             { name: 'attributes', targets: data.columns.findIndex(col => col.title === 'attributes'), visible: false , searchable: false},   // Hide 'protocol',
                        ],

                      destroy: true,
                        paging: false,
                        scrollX: '950px',
                        scrollY: '400px',
                        scrollCollapse: true,
                        searching: true,
                        search: {
                            regex: true,
                            caseInsensitive: true,
                            smart: true
                        }
                    });
                    $('#save-button').hide();  // Hide save button for CSV files (if you don’t need to edit them)
                    let log = `> loaded ${filename}`;
                    appendLogMessage(log);
                } else {
                    appendLogMessage('> unsupported file type');
                }
            });
        }
    
        // Function to save the file (only for text files)
        $('#save-button').click(function() {
            let filename = $(this).data('filename');
            let content = $('#file-content').val();
            $.ajax({
                url: `/file/edit/${filename}`,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ content: content }),
                success: function(response) {
                    let log = `> loaded ${filename}`;
                    appendLogMessage(log);
                }
            });
        });
    
        // Run gather function on button click
        $('#gather-button').click(function() {
            let projectId = $('#project_id').val();
            if (projectId) {
                $.ajax({
                    url: '/gather',  // Make sure the /gather route exists in your Flask app
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ project_id: projectId }),
                    success: function(response) {
                        loadFiles();  // Reload the list of files after gather is run
                        appendLogMessage('> gather completed');
                        appendLogMessage(response.log);
                    },
                    error: function() {
                        appendLogMessage('> something went wrong');
                        appendLogMessage(response.log);
                    }
                });
            } else {
                appendLogMessage('> enter a bio project id to start...');
            }
        });
   
        $('#annotate-button').click(function() {
             // Get the filtered rows (visible rows after filtering)
            table = $('#csv-table').DataTable();
            let filtered_data = table.rows({ search: 'applied' }).data().toArray();
            let col_names = table.columns().header().toArray().map(x => x.innerText);
                        // Convert the filtered data to an array or JSON format (if needed)
            let summary_model = $('#summary_model').val();
            let annotation_model = $('#annotation_model').val();
            $.ajax({
                url: '/annotate',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ data: filtered_data, 
                                       columns: col_names,
                                       summary_model: summary_model,
                                       annotation_model: annotation_model}),
                success: function(response) {
                    loadFiles();  // Reload the list of files after gather is run
                    appendLogMessage('> Annotation successful!');
                    appendLogMessage(response.log);
                },
                error: function() {
                    appendLogMessage('> an error occurred while annotating.');
                    appendLogMessage(response.log);
                }
            });
        }); 

        $('#run-project').click(function() {
            let projectId = $('#test_project_id').val();
            let summary_model = $('#summary_model').val();
            let annotation_model = $('#annotation_model').val();
            if (projectId) {
                $.ajax({
                    url: '/run_project',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ project_id: projectId ,
                                           summary_model: $('#summary_model').val(),
                                           annotation_model: $('#annotation_model').val()}),
                    success: function(response) {
                        loadFiles();  // Reload the list of files after gather is run
                        appendLogMessage('> project run completed');
                        appendLogMessage(response.log);
                    },
                    error: function() {
                        appendLogMessage('> something went wrong');
                        appendLogMessage(response.log);
                    }
                });
            } else {
                appendLogMessage('> enter a bio project id to start...');
            }
        });
        // Load files on page load
        $(document).ready(function() {
            loadFiles();
        });
    </script>
     

</body>
</html>